
*{
    box-sizing: border-box
}

.contenedorpadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(162, 113, 207, 0.691);
    padding: 15px;
    height: 650px;
    
}

.item{

    margin: 15px;
    padding: 15px;
    width: 150px;
    background-color: rgba(122, 230, 194, 0.787);

}


.shrek{
    order: 5;
    align-self: center;
}

.fiona{
order: -1;
align-self: stretch;
    
}

.gato {
    order: 0;
    align-self: flex-end;

}


.burro{
    order: 3;
}

.pinocho{
    order: 4;
    align-self: flex-start;

}



.imagen{
    height: 100px;
}